body{
    background: url(../images/study.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tableContainer {
    text-align: left;
}
.inputField {
    font-size: 14px;
}